<div class="top-nav">
	<nav>
		<ul>
			<li <% if(page === '/') {%>class="active"<% } %>><a href="/admin">Main Info</a></li>
			<li class="dropdown"><a href="#" data-toggle="dropdown">Posts</a>
				<ul class="dropdown-menu">
					<li><a href="/admin/posts/add">New Post</a></li>
					<li><a href="/admin/posts/edit">Edit Posts</a></li>
				</ul>
			</li>
			<li><a href="/admin/logout">Logout</a></li>
			<li><%= user.username %> is Logged In</li>
		</ul>
	</nav>
</div>